@import 'components/SummaryCard/styles.css';
@import 'components/DataGrid/styles.css';
@import 'components/ToolNav/styles.css';

.topSticky {
  position: sticky;
  top: var(--spacing-6);
}

.sidebarLayout {
  display: grid;
  gap: var(--spacing-3);
  grid-template-columns: var(--section-aside-width) 1fr;
}

.sectionHeader {
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: var(--spacing-4);
  position: relative;
  color: var(--backpack-blue);
  background-color: var(--background-gray);
  max-width: var(--section-aside-width);
  line-height: var(--font-lineheight--tight);

  &:before {
    content: '#';
    position: absolute;
    top: 0;
    left: -1.5ch;
    color: var(--denim-blue);
  }

  &:hover:before {
    color: var(--backpack-blue);
  }
}

.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  background-color: var(--background-gray-offset);
  border: 1px solid var(--background-gray-offset);
  border-radius: 2rem;
}

.summaryList {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}
