@import 'components/SummaryCard/styles.css';
@import 'components/DataGrid/styles.css';
@import 'components/ToolNav/styles.css';
@import 'components/Connect/styles.css';

.sidebarLayout {
  display: grid;
  gap: var(--spacing-3);

  @media (min-width: 700px) {
    grid-template-columns: var(--section-aside-width) 1fr;
  }
}

.sectionHeader {
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: var(--spacing-4);
  position: relative;
  color: var(--backpack-blue);
  background-color: var(--background-gray);
  line-height: var(--font-lineheight--tight);

  &:before {
    content: '#';
    color: var(--denim-blue);
    margin-right: var(--spacing-1);
  }

  &:hover:before {
    color: var(--backpack-blue);
  }
}

.summaryList {
  display: grid;
  gap: var(--spacing-5);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (min-width: 550px) {
  .sectionHeader:before {
    margin-right: 0;
    position: absolute;
    top: 0;
    left: -1.5ch;
  }
}
