@import 'components/SummaryCard/styles.css';
@import 'components/DataGrid/styles.css';
@import 'components/ToolNav/styles.css';

.topSticky {
  position: sticky;
  top: 0;
}

.sidebarLayout {
  display: grid;
  grid-template-columns: var(--section-aside-width) 1fr;
}

.header p {
  max-width: 42ch;
}

.summaryList {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}
