@import 'components/SummaryCard/styles.css';

.topSticky {
  position: sticky;
  top: 0;
}

.comparedTools {
  display: flex;
  margin-left: var(--section-aside-width);

  & img {
    display: none;
  }
}

.sidebarLayout {
  display: grid;
  grid-template-columns: var(--section-aside-width) 1fr;
}

.header p {
  max-width: 42ch;
}
