@import 'components/SummaryCard/styles.css';
@import 'components/ToolNav/styles.css';

.topSticky {
  position: sticky;
  top: 0;
}

.sidebarLayout {
  display: grid;
  grid-template-columns: var(--section-aside-width) 1fr;
}

.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  background-color: var(--background-gray-offset);
  border: 1px solid var(--background-gray-offset);
  border-radius: 2rem;
}

.summaryList {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}
