.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  row-gap: var(--spacing-5);
  margin-block-start: var(--spacing-5);

  & > div {
    width: max(50%, 30ch);
  }

  & ul {
    list-style: none;
    display: flex;
    padding-left: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-5);

  & > .svgHolder {
    display: flex;
    place-content: center;
    fill: var(--backpack-blue);
    min-width: var(--spacing-5);
    background: var(--background);
    border: 1px solid var(--background-gray-offset);
    padding: var(--spacing-3);
    border-radius: 50%;
    aspect-ratio: 1;
  }
}

.svgLeft {
  transform: rotate(90deg);
}

.svgRight {
  transform: rotate(-90deg);
}

div.metaData {
  font-size: var(--font-size--detail);
  color: var(--backpack-blue);
}

.prevLinkData {
  @media (max-width: 500px) {
    right: var(--spacing-2);
  }
}

.nextLinkData {
  text-align: right;

  @media (max-width: 500px) {
    left: var(--spacing-2);
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  .metaData {
    display: none;
  }
}
