@import '../Logo/styles.css';

.footer {
  background: var(--backpack-blue);
  padding: var(--spacing-6);

  & a {
    color: var(--ice-blue);

    &:hover {
      color: white;
    }
  }

  & h2 {
    color: var(--light-blue);

    & > span {
      color: var(--ice-blue);
    }
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.rule {
  border: 0;
  border-top: 1px solid var(--denim-blue);
}

.desc {
  font-size: var(--font-size--detail);
  line-height: var(--font-lineheight--extended);
  color: var(--ice-blue);
}
