@import '../Logo/styles.css';

.footer {
  background: var(--backpack-blue);
  padding: var(--spacing-5) var(--spacing-3) var(--spacing-3);

  @media (min-width: 700px) {
    padding: var(--spacing-6);
  }

  & a {
    color: var(--ice-blue);

    &:hover,
    &:focus {
      color: white;
    }
  }

  & h2 {
    color: var(--light-blue);
    margin-bottom: var(--spacing-3);

    @media (max-width: 700px) {
      font-size: var(--font-size--h2);
      margin-left: 0;
    }

    & > span {
      color: var(--ice-blue);
    }
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.messaging {
  display: flex;
  justify-content: space-between;
}

.rule {
  border: 0;
  border-top: 1px solid var(--denim-blue);
}

.desc {
  font-size: var(--font-size--detail);
  line-height: var(--font-lineheight--extended);
  color: var(--ice-blue);
  padding-bottom: var(--spacing-3);
}

.plant {
  position: absolute;
  right: 0;
  opacity: 0.3;
}

@media only screen and (min-width: 550px) {
  .desc {
    padding-bottom: 0;
  }

  .plant {
    position: relative;
    opacity: 1;
  }
}
