.toolNav {
  position: sticky;
  top: var(--spacing-3);
  z-index: 2;

  background: white;
  display: flex;
  margin-left: calc(var(--section-aside-width) + var(--spacing-3));
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) 0;
  border: 1px solid var(--ice-blue);
  border-radius: var(--spacing-2);
  box-shadow: var(--card-shadow);
}

.tool {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  & > figcaption {
    text-transform: capitalize;
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--detail);
  }

  & > img {
    object-fit: contain;
    margin-right: var(--spacing-2);
  }
}
