.toolNav {
  position: sticky;
  top: var(--spacing-3);
  z-index: 2;

  background: var(--background);
  display: flex;
  padding: var(--spacing-3) 0;
  border: 1px solid var(--ice-blue);
  border-radius: var(--spacing-2);
  box-shadow: 0 10px 45px -25px hsl(var(--denim-blue-hsl) / 70%);
  overflow-x: hidden;
}

.tool {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: var(--spacing-2);
  place-content: center;

  & > figcaption {
    text-transform: capitalize;
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--detail);
    visibility: hidden;
    width: 0;
  }

  & > img {
    object-fit: contain;
    margin-right: var(--spacing-2);
  }
}

@media only screen and (min-width: 700px) {
  .toolNav {
    margin-left: calc(var(--section-aside-width) + var(--spacing-3));
    padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) 0;
  }

  .tool {
    place-content: left;

    & > figcaption {
      visibility: visible;
      width: auto;
    }
  }
}
