.testCard {
  background: white;
  border: 1px solid var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  padding: var(--spacing-5);
  text-align: center;
}

.cardTitle {
  color: var(--vivid-blue);
  display: block;
  line-height: var(--font-lineheight--body);
  font-weight: var(--font-weight--normal);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.cardTotal {
  font-size: var(--font-size--logo);
  color: var(--dim-teal);
  line-height: 1;
}

.cardTotalCount {
  font-weight: var(--font-weight--bold);
}

.dash {
  color: var(--sky-blue);
}

.subText {
  color: var(--vivid-blue);
  font-size: var(--font-size--detail);
}

.testDesc {
  font-size: var(--font-size--detail);
  margin: var(--spacing-3);
  line-height: 1.5;
}

.iconList {
  display: flex;
}

.testCardIcon {
  width: var(--touch-icon-size);
  height: var(--touch-icon-size);
  margin: 0 auto;
}

.testCardIcon img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  margin: 15% auto;
}
