:root {
  --test-pass: #7fcc71; /* remove when merging #75 */
  --test-partial: #ffa91f;
  --test-fail: #f26969;
  --test-skip: #dedede;
}

.resultItem {
  text-align: center;
}

.toolIcon {
  background: white;
  margin: 0 auto;
  border-radius: 50%;
  width: calc(var(--touch-icon-size) * 2);
  height: calc(var(--touch-icon-size) * 2);
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--light-blue);
  margin: var(--spacing-3) auto;
}

.toolIcon img {
  height: 50%;
}

.toolName {
  text-transform: capitalize;
  font-weight: var(--font-weight--bold);
}

.toolBadge {
  border: 1px solid gray;
  padding: var(--spacing-1) var(--spacing-3);
  background: white;
  display: inline-block;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: var(--font-weight--normal);

  &[data-result='pass'] {
    border-color: var(--test-pass);
  }

  &[data-result='partial'] {
    border-color: var(--test-partial);
  }

  &[data-result='fail'] {
    border-color: var(--test-fail);
  }
}
