@import './Legend/styles.css';

.datagrid {
  display: grid;
  gap: var(--spacing-1);
}

.row {
  display: flex;
  flex-wrap: wrap;

  &:hover > div:first-child > a {
    color: var(--teal-blue);
  }
}

.results {
  display: flex;
  align-items: start;
  flex: 1;
  background: white;
  padding: var(--spacing-2) 0;

  &:focus-within,
  &:hover {
    background-color: var(--background-gray-highlight);
  }

  & > * {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
    justify-content: center;
  }
}

.aside {
  flex-basis: 100%;
  box-sizing: border-box;
  padding: var(--spacing-2);
  padding-left: 0;
  font-size: 1.1rem;

  @media (min-width: 700px) {
    text-align: end;
    flex-basis: auto;
    width: calc(var(--section-aside-width) + var(--spacing-3));
    padding-right: var(--spacing-4);
  }

  & > a {
    color: var(--vivid-darker-blue);
  }
}

.column {
  flex: 1;
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fill, minmax(var(--spacing-3), 1fr));
  grid-template-rows: var(--spacing-3);
  justify-items: center;
  align-content: center;
  padding: 0 var(--spacing-2);

  &:not(:last-child) {
    border-right: 1px solid var(--ice-blue);
  }
}

.dotContainer {
  position: relative;
}

.dot {
  display: inline-block;
  box-sizing: border-box;
  width: var(--spacing-3);
  height: var(--spacing-3);
  background: var(--test-skip);
  border: 2px solid var(--test-skip);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;

  &::after {
    --arrow-size: 10px;

    content: '';
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: calc(-1 * var(--arrow-size));
    border-width: var(--arrow-size);
    border-style: solid;
    border-color: white transparent transparent transparent;
    display: none;
    z-index: 100;
  }

  &[data-result='pass'] {
    background: var(--test-pass);
    border-color: var(--test-pass);
  }

  &[data-result='partial'] {
    background-image: linear-gradient(
      90deg,
      var(--test-partial),
      50%,
      var(--test-partial),
      51%,
      transparent,
      52%,
      transparent
    );
    background-color: transparent;
    border-color: var(--test-partial);
  }

  &[data-result='fail'] {
    background: transparent;
    border-color: var(--test-fail);
  }

  &:focus + [role='tooltip'] {
    opacity: 1;
    pointer-events: all;
  }

  &:focus::after {
    display: block;
  }
}

@media only screen and (min-width: 550px) {
  .results {
    padding: var(--spacing-3) 0;

    & > * {
      padding-left: var(--spacing-3);
      padding-right: var(--spacing-3);
      justify-content: flex-start;
    }
  }
}

/* Tooltip Time */

[role='tooltip'] {
  opacity: 0;
  pointer-events: none;
}

[role='tooltip']:focus,
[role='tooltip']:focus-within {
  opacity: 1;
  pointer-events: all;
}
