@import './Legend/styles.css';

.datagrid {
  display: grid;
  gap: var(--spacing-1);
}

.row {
  display: flex;
  flex-wrap: wrap;

  &:hover > div:first-child > a {
    color: var(--teal-blue);
  }
}

.results {
  display: flex;
  align-items: start;
  flex: 1;
  background: white;
  padding: var(--spacing-2) 0;

  &:focus-within,
  &:hover {
    background-color: var(--background-gray-highlight);
  }

  & > * {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
    justify-content: center;
  }
}

.aside {
  flex-basis: 100%;
  box-sizing: border-box;
  padding: var(--spacing-2);
  padding-left: 0;
  font-size: 1.1rem;

  @media (min-width: 700px) {
    text-align: end;
    flex-basis: auto;
    width: calc(var(--section-aside-width) + var(--spacing-3));
    padding-right: var(--spacing-4);
  }

  & > a {
    color: var(--vivid-darker-blue);
  }
}

.column {
  flex: 1;
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fill, minmax(var(--spacing-3), 1fr));
  grid-auto-rows: var(--spacing-3);
  justify-items: center;
  align-content: center;
  padding: 0 var(--spacing-2);

  &:not(:last-child) {
    border-right: 1px solid var(--ice-blue);
  }
}

.dotContainer {
  position: relative;
}

@media only screen and (min-width: 550px) {
  .results {
    padding: var(--spacing-3) 0;

    & > * {
      padding-left: var(--spacing-3);
      padding-right: var(--spacing-3);
      justify-content: flex-start;
    }
  }
}

.dotButton {
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
  display: flex;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--light-blue), 0 0 0 6px var(--vivid-blue);
  }

  /* Prevent inner focus effect in Firefox */
  &::-moz-focus-inner {
    border: 0;
  }
}
