:root {
  /* Blues */
  --background-blue: #f1fcff;
  --ice-blue: #e6f4ff;
  --light-blue: #cce9ff;
  --sky-blue: #66bdff;
  --vivid-blue: #148ae3;
  --teal-blue: #195380;
  --backpack-blue: #406480;
  --denim-blue: #5689b0;

  --test-pass: #7fcc71;
  --test-partial: #ffa91f;
  --test-fail: #f26969;
  --test-skip: #dedede;

  /* Gra|eys */
  --background-gray: #edf0f2;
  --background-gray-offset: #dae1e6;
  --text-gray: hsl(0 0% 10%);

  /* Shadows */
  --denim-blue-hsl: 206 36% 51%;
  --card-shadow: 0 10px 45px -25px hsl(var(--denim-blue-hsl) / 70%);
  --fab-shadow: 0 5px 10px hsl(var(--denim-blue-hsl) / 20%);
}
