:root {
  /* Blues */
  --background-blue: #f0f7ff;
  --ice-blue: #e6f4ff;
  --light-blue: #cce9ff;
  --sky-blue: #66bdff;
  --vivid-blue: #127aca;
  --vivid-darker-blue: #0f66a9;
  --teal-blue: #195380;
  --backpack-blue: #406480;
  --denim-blue: #5689b0;

  --grape: #950d80;

  --test-pass: #7fcc71;
  --test-pass--text: #0e3307;
  --test-partial: #ffa91f;
  --test-partial--text: #6f4902;
  --test-fail: #f26969;
  --test-fail--text: #801111;
  --test-skip: #dedede;

  /* Gra|eys */
  --background-gray: #edf0f2;
  --background-gray-offset: #dae1e6;
  --background-gray-highlight: hsl(205deg 69% 97%);
  --text-gray: hsl(0 0% 10%);

  /* Shadows */
  --denim-blue-hsl: 206 36% 51%;
  --card-shadow: 0 8px 2px hsl(var(--denim-blue-hsl) / 2%),
    0 25px 10px hsl(var(--denim-blue-hsl) / 7%),
    0 50px 10px hsl(var(--denim-blue-hsl) / 5%),
    0 80px 20px hsl(var(--denim-blue-hsl) / 8%);
  --card-shadow--active: 0 8px 2px hsl(var(--denim-blue-hsl) / 1%),
    0 25px 10px hsl(var(--denim-blue-hsl) / 5%),
    0 60px 10px hsl(var(--denim-blue-hsl) / 5%),
    0 100px 20px hsl(var(--denim-blue-hsl) / 6%);
  --fab-shadow: 0 5px 10px hsl(var(--denim-blue-hsl) / 20%);
}
