header {
  min-height: 80vh;
  padding: 0 var(--spacing-3);
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > section {
    max-width: 1024px;
    margin: auto;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 700px) {
  header {
    padding: 0 var(--spacing-6);

    & > section > div {
      flex-direction: row;
    }
  }
}
