header {
  min-height: 80vh;
  padding: 0 var(--spacing-6);
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > section {
    max-width: 1024px;
    margin: auto;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
