header {
  min-height: 60vh;
  background: white;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  & > section {
    position: relative;

    @media (orientation: portrait) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: 1;
        width: var(--spacing-3);
        height: 100%;
      }

      &::before {
        left: 0;
        background-image: linear-gradient(
          to right,
          white,
          75%,
          hsl(0 0% 100% / 0%)
        );
      }

      &::after {
        right: 0;
        background-image: linear-gradient(
          to left,
          white,
          75%,
          hsl(0 0% 100% / 0%)
        );
      }
    }

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 0 var(--spacing-3);
    }

    @media (orientation: landscape) {
      max-width: 1024px;
      margin: auto;
    }
  }
}

@media only screen and (orientation: landscape) {
  header {
    min-height: 80vh;
    padding: 0 var(--spacing-6);
    justify-content: center;

    & > section > div {
      flex-direction: row;
      padding: 0;
    }
  }
}
