header {
  background: white;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  padding: var(--spacing-3) 0;

  @media (min-width: 480px) {
    padding: var(--spacing-3);
  }

  & small {
    color: var(--vivid-darker-blue);
  }

  & h2 {
    text-transform: capitalize;
  }

  & p {
    color: var(--teal-blue);
  }

  & > section {
    position: relative;

    @media (min-width: 822px) {
      max-width: 1024px;
      margin: auto;
    }

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 0 var(--spacing-3);
    }
  }
}

@media (min-width: 822px) {
  header {
    height: 650px;
    padding: var(--spacing-3) var(--spacing-7) 0 var(--spacing-7);
    justify-content: center;

    & > section > div {
      flex-direction: row;
      padding: 0;
      max-width: var(--pageMax);
      margin: auto;
    }
  }
}

@media (max-height: 640px) {
  header {
    max-height: initial;
  }
}
