main {
  box-sizing: border-box;
  padding: var(--spacing-3);
  background: var(--background-gray);
  display: grid;
  gap: 10rem;
  position: relative;

  @media (min-width: 550px) {
    padding: var(--spacing-6);
  }
}
