:root {
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-6: 3rem;
  --spacing-7: 5rem;
  --spacing-8: 10rem;

  --touch-icon-size: 48px;
  --section-aside-width: 125px;
}
