:root {
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-6: 3rem;
  --spacing-7: 5rem;
  --spacing-8: 10rem;

  --touch-icon-size: 48px;
  --section-aside-width: 150px;

  --layer--top: 10;
  --nontouch-small-icon-size: 32px;
  --card-radius: 20px;
  --section-aside-width: 125px;
  --pageMax: 720px;
  --numTools: 4;

  --page-max-width: 1400px;

  @media (min-width: 1200px) {
    --section-aside-width: 250px;
  }
}

.contentContainer {
  max-width: var(--page-max-width);
  display: grid;
  gap: 5rem;
  padding: var(--spacing-5) var(--spacing-3);
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 550px) {
    gap: 10rem;
    padding: var(--spacing-7) var(--spacing-6) var(--spacing-3);
  }
}
