:root {
  --font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --font-lineheight--body: 1.5;
  --font-lineheight--extended: 2;
  --font-lineheight--tight: 1.25;

  --font-size--logo: 2.5rem; /* 40px */
  --font-size--h2: 1.25rem; /* 20px */
  --font-size--body: 1rem; /* 16px */
  --font-size--detail: 0.875rem; /* 14px */

  --font-weight--thin: 100;
  --font-weight--light: 300;
  --font-weight--normal: 500;
  --font-weight--bold: 600;
}

html {
  font-family: var(--font-body);
  background-color: var(--background-gray);
  color: var(--backpack-blue);
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--light);
  line-height: var(--font-lineheight--body);
}

h2 {
  font-size: var(--font-size--h2);
}

p {
  max-width: 50ch;
  line-height: var(--font-lineheight--extended);
}

a {
  color: var(--vivid-blue);

  &:hover {
    color: var(--teal-blue);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

small {
  color: var(--grape);
}
