.toolBadge {
  border: 1px solid gray;
  padding: var(--spacing-1) var(--spacing-3);
  background: white;
  display: inline-block;
  border-radius: var(--spacing-2);
  text-transform: capitalize;
  font-weight: var(--font-weight--normal);
  margin-left: var(--spacing-3);

  &[data-result='pass'] {
    border-color: var(--test-pass);
    color: var(--test-pass--text);
  }

  &[data-result='partial'] {
    border-color: var(--test-partial);
    color: var(--test-partial--text);
  }

  &[data-result='fail'] {
    border-color: var(--test-fail);
    color: var(--test-fail--text);
  }
}

.headerBar {
  background: var(--ice-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-3);

  h2 {
    font-size: var(--font-size--body);
  }
}

.headerMeta {
  display: flex;
  align-items: center;
}

.details {
  padding: var(--spacing-3);

  p {
    margin-bottom: var(--spacing-3);
  }

  a {
    display: inline-block;
  }
}

.toolIcon {
  background: white;
  margin-right: var(--spacing-2);
  border-radius: 50%;
  width: calc(var(--touch-icon-size));
  height: calc(var(--touch-icon-size));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-blue);
}

.toolIcon img {
  max-width: 80%;
  max-height: 80%;
}

.tooltip {
  --arrow-size: 10px;
  --tooltip-border: 10px;
  --arrow-horizontal-offset: 25px;
  --border-width: 1px;

  position: absolute;
  background: white;
  border: var(--border-width) solid var(--ice-blue);
  box-shadow: var(--card-shadow);
  z-index: var(--layer--top);
  border-radius: var(--tooltip-border);
  bottom: calc(100% + var(--spacing-2));
  font-size: var(--font-size--detail);
  width: 350px;

  &[data-position='center'] {
    transform: translateX(-155px) translateY(-10px);
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% - var(--arrow-size));
      margin-left: calc(-1 * var(--arrow-size));
      border-width: var(--arrow-size);
      border-style: solid;
      border-color: white transparent transparent transparent;
    }

    /* For the border */
    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% - var(--arrow-size) - 2px);
      margin-left: calc(-1 * var(--arrow-size) + var(--border-width));
      border-width: calc(var(--arrow-size) +var(--border-width));
      border-style: solid;
      border-color: var(--light-blue) transparent transparent transparent;
    }
  }

  &[data-position='left'] {
    transform: translateX(-6px) translateY(-10px);
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(var(--arrow-horizontal-offset) - var(--arrow-size));
      margin-left: calc(-1 * var(--arrow-size));
      border-width: var(--arrow-size);
      border-style: solid;
      border-color: white transparent transparent transparent;
    }

    /* For the border */
    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(var(--arrow-horizontal-offset) - var(--arrow-size) - 2px);
      margin-left: calc(-1 * var(--arrow-size) + var(--border-width));
      border-width: calc(var(--arrow-size) +var(--border-width));
      border-style: solid;
      border-color: var(--light-blue) transparent transparent transparent;
    }
  }

  &[data-position='right'] {
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      right: calc(var(--arrow-horizontal-offset) - var(--arrow-size));
      margin-left: calc(-1 * var(--arrow-size));
      border-width: var(--arrow-size);
      border-style: solid;
      border-color: white transparent transparent transparent;
    }

    /* For the border */
    &:before {
      content: '';
      position: absolute;
      top: 100%;
      right: calc(
        var(--arrow-horizontal-offset) - var(--arrow-size) -var(--border-width)
      );
      margin-left: calc(-1 * var(--arrow-size) + var(--border-width));
      border-width: calc(var(--arrow-size) +var(--border-width));
      border-style: solid;
      border-color: var(--light-blue) transparent transparent transparent;
    }
  }
}
