/**
 * Modified GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

:global {
  code[class*='language-'],
  pre[class*='language-'] {
    color: var(--teal-blue);
    font-family: ui-monospace, Operator Mono, Dank Mono, Fira Code, Hack,
      monospace;
    font-size: 1.1rem;
    font-weight: normal;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: calc(var(--card-radius) / 1.5);
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: var(--background);
  }

  /* Inline code */
  :not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999988;
    font-style: italic;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.string,
  .token.attr-value {
    color: var(--syntax-pink);
  }

  .token.punctuation,
  .token.operator {
    color: var(--syntax-puncation); /* no highlight */
  }

  .token.entity,
  .token.url,
  .token.symbol,
  .token.number,
  .token.boolean,
  .token.variable,
  .token.constant,
  .token.property,
  .token.regex,
  .token.inserted {
    color: #36acaa;
  }

  .token.atrule,
  .token.keyword,
  .token.attr-name,
  .language-autohotkey .token.selector {
    color: var(--vivid-blue);
  }

  .token.function,
  .token.deleted,
  .language-autohotkey .token.tag {
    color: var(--grape);
  }

  .token.important,
  .token.function,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }
}
