.connect {
  display: flex;
  margin: var(--spacing-8) auto;
  justify-content: space-between;
  align-items: center;
  max-width: 55ch;
  background-color: var(--background-gray-offset);
  border: 1px solid var(--background-gray-offset);
  border-radius: 2rem;
  padding: var(--spacing-6) var(--spacing-7) var(--spacing-6) var(--spacing-6);
  overflow: hidden;
  position: relative;

  & h2 {
    font-weight: bold;
    & > span {
      font-weight: 300;
    }
  }
}

.decoration {
  flex: 2;

  & img {
    position: relative;
    transform: scale(1.2);
  }

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: -28%;
    left: -40%;
    bottom: 0;
    width: 500px;
    background: #fff;
    border-radius: 50%;
    height: 500px;
    z-index: 0;
  }
}

.message {
  flex: 3;
  margin-left: var(--spacing-3);

  & > a {
    display: inline-block;
    margin-top: var(--spacing-4);
  }
}
