@import './Legend/styles.css';

.datagrid {
  display: grid;
  gap: var(--spacing-1);
}

.row {
  display: flex;
}

.results {
  display: flex;
  flex: 1;
  background: white;
  padding: var(--spacing-3);

  & > * + * {
    padding-left: var(--spacing-3);
  }
}

.aside {
  box-sizing: border-box;
  width: calc(var(--section-aside-width) + var(--spacing-3));
  padding: var(--spacing-2);
  padding-left: 0;
}

.column {
  flex: 1;
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fit, var(--spacing-3));
  grid-template-rows: var(--spacing-3);

  &:not(:last-child) {
    border-right: 1px solid var(--ice-blue);
  }
}

.dot {
  display: inline-block;
  width: var(--spacing-3);
  height: var(--spacing-3);
  background: var(--test-skip);
  border-radius: 50%;

  &[data-result='pass'] {
    background: var(--test-pass);
  }

  &[data-result='partial'] {
    background: var(--test-partial);
  }

  &[data-result='fail'] {
    background: var(--test-fail);
  }
}
