.summaryCard {
  background: white;
  border: 1px solid var(--light-border-blue);
  display: block;
  border-radius: 10px;
  width: 180px;
  box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.45);
  padding: 2rem;
  text-align: center;
}

.cardTitle {
  color: var(--vivid-blue);
  margin: 0.5rem;
  display: block;
  line-height: var(--font-lineheight--body);
  font-weight: var(--font-weight--normal);
}

.cardTotal {
  font-size: var(--font-size--h2);
  color: var(--dim-teal);
}

.cardTotalCount {
  font-weight: var(--font-weight--bold);
}

.cardTestsPassedContainer {
  margin-top: 2rem;
}

.cardTestsPassedContainer a {
  font-size: var(--font-size--detail);
  text-decoration: none;
  color: var(--vivid-blue);
}

/* Summary Cards */

.summaryCardIcon {
  background: var(--background-gray);
  border-radius: 50%;
  width: var(--touch-icon-size);
  height: var(--touch-icon-size);
  margin: 0 auto;
}

.summaryCardIcon img {
  width: 60%;
  margin: 16% auto;
}

.summaryProgress {
  height: 0.5rem;
  transition-duration: 1s;
}

.dash {
  color: var(--sky-blue);
}
