.summaryCard {
  background: white;
  border: 1px solid var(--light-blue);
  display: block;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  padding: 2rem;
  text-align: center;
}

.cardTitle {
  color: var(--vivid-blue);
  margin: var(--spacing-1);
  display: block;
  line-height: var(--font-lineheight--body);
  font-weight: var(--font-weight--normal);
}

.cardTotal {
  font-size: var(--font-size--logo);
  color: var(--dim-teal);
}

.cardTotalCount {
  font-weight: var(--font-weight--bold);
}

.cardTestsPassedContainer {
  margin-top: 2rem;
}

.cardTestsPassedContainer a {
  font-size: var(--font-size--detail);
  text-decoration: none;
  color: var(--vivid-blue);
}

/* Summary Cards */

.summaryCardIcon {
  background: var(--ice-blue);
  border-radius: 50%;
  width: var(--touch-icon-size);
  height: var(--touch-icon-size);
  margin: 0 auto;
}

.summaryCardIcon img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  margin: 15% auto;
}

.dash {
  color: var(--sky-blue);
}

/* Progress */

.progressText {
  color: white;
  padding: 0 var(--spacing-1);
  font-size: var(--font-size--detail);
}

.progressSummary {
  height: 20px;
  background-color: var(--ice-blue);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--vivid-blue);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* will-change: width; TODO note: in the future have the bars animate out from 0% with an intersection observer */
}
