.legendHeader {
  margin-bottom: var(--spacing-2);
}

.legendCard {
  background: var(--bg);
  display: inline-block;
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: var(--spacing-1);
}

.legendRow {
  display: flex;
  align-items: center;

  & > span {
    margin-right: var(--spacing-3);
  }
}
