@import './Crumb/styles.css';

.breadcrumbs {
  display: inline-flex;
  align-items: center;
  position: relative;
  overscroll-behavior: contain;

  @media (max-width: 640px) {
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 1ch;
  }
}

.home {
  margin-left: var(--spacing-2);

  @media (min-width: 640px) {
    margin-left: -2.5rem;
  }

  & svg {
    width: 55%;
    fill: var(--vivid-blue);
  }

  &:hover svg {
    fill: var(--denim-blue);
  }
}
