@import './Crumb/styles.css';

.breadcrumbs {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--font-size--detail);
  margin-bottom: var(--spacing-6);
  margin-left: calc(calc(var(--spacing-6) + var(--spacing-2)) * -1);
  padding-left: var(--spacing-6);
  padding-bottom: var(--spacing-3);

  max-width: max-content;
  overflow-x: auto;
  overscroll-behavior: contain;

  /* hack around https://bugs.chromium.org/p/chromium/issues/detail?id=1069614 */
  & > *:last-child::after {
    content: '';
    display: inline-block;
    width: var(--spacing-2);
  }

  @media (orientation: portrait) {
    padding: 0 var(--spacing-3) var(--spacing-3);
    margin-bottom: 0;
    margin-left: 0;
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
  }
}

.home {
  @media (orientation: landscape) {
    margin-left: -2.5rem;
    gap: 0;
  }

  & svg {
    width: 55%;
    fill: var(--vivid-blue);
  }

  & > :first-child {
    display: none;

    @media (orientation: landscape) {
      display: inline-flex;
    }
  }
}

@media screen and (max-width: 550px) {
  .breadcrumbs {
    &::before,
    &::after {
      content: '';
      position: fixed;
      height: var(--spacing-6);
      width: var(--spacing-3);
      z-index: 1;
    }

    &::before {
      left: 0;
      background-image: linear-gradient(
        to right,
        white,
        75%,
        hsl(0 0% 100% / 0%)
      );
    }

    &::after {
      right: 0;
      background-image: linear-gradient(
        to left,
        white,
        75%,
        hsl(0 0% 100% / 0%)
      );
    }
  }
}
