.logo {
  font-weight: var(--font-weight--light);
  color: var(--vivid-blue);
  font-size: var(--font-size--logo);

  & > svg {
    margin-right: var(--spacing-2);

    @media (min-width: 640px) {
      margin-left: calc(var(--spacing-6) * -1);
    }
  }
}

.report {
  color: var(--backpack-blue);
  font-weight: var(--font-weight--thin);
}
