.logo {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight--light);
  color: var(--vivid-blue);
  font-size: var(--font-size--logo);
  margin-left: var(--spacing-3);

  @media (min-width: 822px) {
    margin-left: calc(var(--spacing-6) * -1);
  }

  & > svg {
    margin-right: var(--spacing-2);
  }
}

.report {
  color: var(--backpack-blue);
  font-weight: var(--font-weight--thin);
}

@media (prefers-color-scheme: dark) {
  .report {
    color: var(--sky-blue);
  }
}
