.collectionPage {
  gap: var(--spacing-5);
  padding: var(--spacing-5) var(--spacing-3);
  max-width: 1024px;
  margin: 0 auto;

  & @media (min-width: 480px) {
    padding: var(--spacing-5);
  }

  @media (min-width: 822px) {
    padding: var(--spacing-7) var(--spacing-6) var(--spacing-8);
  }

  & > section:last-of-type {
    margin-bottom: var(--spacing-5);
  }
}

.collectionSummary {
  margin: 0 0 var(--spacing-6);

  @media (min-width: 480px) {
    margin: 0 var(--spacing-3) var(--spacing-6);
  }

  @media (min-width: 822px) {
    margin: 0 auto var(--spacing-6);
    width: var(--pageMax);
  }

  & p {
    margin: var(--spacing-3) 0;
  }
}

.testCardList {
  display: grid;
  gap: var(--spacing-5);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.contribCard {
  font-family: monospace;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  text-decoration: none;
  background: var(--background);
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  transition: 0.2s ease-in-out;
  will-change: box-shadow;
  transform-style: preserve-3d;

  &:hover,
  &:focus {
    color: var(--sky-blue);
    transform: translateY(-5px);
    box-shadow: var(--card-shadow--active);
  }
}
