.detailPage {
  gap: var(--spacing-6);
  padding: var(--spacing-5) var(--spacing-3);
  max-width: var(--pageMax);
  margin: 0 auto;

  @media (min-width: 480px) {
    padding: var(--spacing-5);
  }

  @media (min-width: 822px) {
    padding: var(--spacing-7) var(--spacing-6) var(--spacing-8);
  }

  & section > h1 {
    margin-bottom: var(--spacing-3);
  }
}

.explainerPost > article {
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--spacing-3);
  place-content: center;

  & p {
    text-align: justify;
    max-width: 60ch;
  }

  & > pre[class*='language-'] {
    justify-self: flex-start;
    margin-bottom: var(--spacing-3);
    margin-top: calc(var(--spacing-2) * -1);
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
  }
}

.resultSet {
  & details {
    margin-bottom: var(--spacing-3);
  }

  & p {
    max-width: initial;
  }

  & summary {
    background: var(--background-gray-offset);
    padding: 0 var(--spacing-3);
    border-radius: var(--spacing-1) var(--spacing-1) 0 0;
    display: flex;
    align-items: center;

    &:focus {
      outline-color: var(--sky-blue);
    }

    & > a {
      margin-left: auto;
    }
  }
}

.resultCard {
  display: grid;
  gap: var(--spacing-2);
  background: white;
  border-radius: 0 0 var(--spacing-1) var(--spacing-1);
  padding: var(--spacing-3);

  & > h2 {
    margin: 0 calc(var(--spacing-3) * -1);
    padding: 0 var(--spacing-3);
    border-top: 1px solid var(--light-blue);
    margin-top: var(--spacing-1);
    padding-top: var(--spacing-2);
  }

  & > ul {
    margin: 0;
  }

  & code {
    background: var(--background-gray);
    padding: 1ex 1ch;
    border-radius: var(--spacing-3);
    font-weight: var(--font-weight--bold);
  }
}

.testResultList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .testResultList {
    justify-content: center;

    li {
      margin: var(--spacing-3);
    }
  }
}

.results {
  display: grid;
  gap: var(--spacing-3);
}
