@import './article.css';
@import '../../components/TestCard/styles.css';

.testCardList {
  display: grid;
  gap: var(--spacing-5);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.contribCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  text-decoration: none;
  background: white;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  border-radius: 20px;
  box-shadow: var(--card-shadow);

  &:hover {
    color: var(--sky-blue);
  }
}

@import '../../libraries/prism/prism.css';
