@import '../../libraries/prism/prism.css';
@import './article.css';
@import 'components/TestCard/styles.css';
@import 'components/TestCrumbs/styles.css';
@import 'components/TestResultSnippet/styles.css';

main {
  gap: var(--spacing-5);
  padding: var(--spacing-5) var(--spacing-3);
  max-width: 1024px;
  margin: 0 auto;

  @media (min-width: 480px) {
    padding: var(--spacing-5);
  }

  @media (min-width: 822px) {
    padding: var(--spacing-7) var(--spacing-6) var(--spacing-8);
  }
}

.heroImage {
  background: var(--ice-blue);
  border-radius: 50%;
  width: 100vw;
  height: 100vw;
  position: absolute;
  right: -25%;
  padding: var(--spacing-4);
  overflow: hidden;
  box-sizing: border-box;

  & > img {
    object-fit: contain;
    width: 100%;
    height: 175%;

    @media (max-width: 822px) {
      display: none;
    }
  }
}

.heroText {
  min-width: 220px;
  margin-right: var(--spacing-6);
  z-index: 1;
  align-self: flex-start;
}

@media (min-width: 822px) {
  .heroImage {
    /* Absolute sizing */
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    padding: var(--spacing-6);
    position: static;
    right: initial;
    margin-left: 0;
    margin-right: -10vw;
    margin-bottom: -70px;
    margin-top: 0;
    align-self: initial;

    & > img {
      height: 100%;
    }
  }

  .heroText {
    align-self: initial;
  }
}

.testCardList {
  display: grid;
  gap: var(--spacing-5);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.contribCard {
  font-family: monospace;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  text-decoration: none;
  background: white;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  will-change: box-shadow;
  transform-style: preserve-3d;

  &:hover,
  &:focus {
    color: var(--sky-blue);
    transform: translateY(-5px);
    box-shadow: var(--card-shadow--active);
  }
}

.testResultList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .testResultList {
    justify-content: center;

    li {
      margin: var(--spacing-3);
    }
  }
}
