@import './article.css';
@import '../../components/TestCard/styles.css';

.testCardList {
  display: grid;
  gap: var(--spacing-5);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
  specify the components on the page you need styles for
  note: should closely match the component list in the ./index.tsx file near here
*/

@import '../../libraries/prism/prism.css';
