@import '../../libraries/prism/prism.css';
@import './article.css';
@import 'components/TestCard/styles.css';
@import 'components/Breadcrumbs/styles.css';

main {
  gap: var(--spacing-5);
  padding: var(--spacing-7) var(--spacing-6);
  max-width: 1024px;
  margin: 0 auto;

  @media (orientation: landscape) {
    padding: var(--spacing-7) var(--spacing-6) var(--spacing-8);
  }
}

.heroImage {
  background: var(--ice-blue);
  border-radius: 50%;
  /* Relative sizing */
  width: 50vw;
  height: 50vw;
  padding: var(--spacing-4);
  overflow: hidden;
  margin-left: -25vw;
  margin-bottom: -30vh;
  box-sizing: border-box;
  align-self: flex-end;

  & > img {
    object-fit: contain;
    width: 100%;
    height: 175%;
  }
}

.heroText {
  min-width: 220px;
  margin-right: var(--spacing-6);
  z-index: 1;
  align-self: flex-start;
}

@media only screen and (orientation: landscape) {
  .heroImage {
    /* Absolute sizing */
    width: 500px;
    height: 500px;
    padding: var(--spacing-6);
    margin-left: 0;
    margin-right: -10vw;
    margin-bottom: -10vh;
    align-self: initial;

    & > img {
      height: 100%;
    }
  }

  .heroText {
    align-self: initial;
  }
}

.testCardList {
  display: grid;
  gap: var(--spacing-5);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.contribCard {
  font-family: monospace;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  text-decoration: none;
  background: white;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  border-radius: 20px;
  box-shadow: var(--card-shadow);

  &:hover {
    color: var(--sky-blue);
  }
}
